/* TechGrid.module.css */
html {
    background: black;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 2px;
    grid-auto-rows: minmax(80px, auto);
    grid-auto-flow: dense;
  }
  
  .c-1 {
    background: #1a535c;
    color: #ddd;
  }
  .c-2 {
    background: #4ecdc4;
  }
  .c-3 {
    background: #bfd7ea;
  }
  .c-4 {
    background: #ff6b6b;
  }
  .c-5 {
    background: #ffe66d;
  }
  
  .card {
    min-height: 100px;
    background-size: cover;
    background-position: 50% 50%;
    overflow: hidden; /* Ensure images do not overflow */
  }
  
  .span-2 {
    grid-column-end: span 2;
    grid-row-end: span 2;
    min-height: 200px;
  }
  .span-3 {
    grid-column-end: span 3;
    grid-row-end: span 3;
    min-height: 400px;
  }
  